@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Global dark mode theme */
  body {
    @apply bg-primary text-white;
  }
}

/* Custom colors */
:root {
  --primary-color: #121212; /* Dark background */
  --secondary-color: #1e1e1e; /* Slightly lighter dark color for sections */
  --button-color: #007bff; /* Blue button */
}

body {
  background-color: var(--primary-color);
}

.bg-primary {
  background-color: var(--primary-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.bg-dark-gray {
  background-color: #2a2a2a;
}

/* Custom scrollbar styling for WebKit browsers (Chrome, Edge, Safari) */
.scrollbar-thin::-webkit-scrollbar {
  width: 4px;  /* Adjust the scrollbar width */
  height: 4px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5); /* Thumb color */
  border-radius: 9999px;
}

/* For Firefox (optional) */
.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.5) transparent;
}
